<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Helps send bulk emails">
        <meta name="keywords" content="IEEE, Bulk Emails, JustAnotherSender">
        <meta name="author" content="Sarthak Pranesh">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JustAnotherSender</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <div class="main-header container">
            <h1>JustAnotherSender</h1>
        </div>
        <div class="html-container container">
            <div class="row">
                <div class="col-md-6">
                    <textarea id="html" class="html-input" dirname="HTML Input Box" autofocus="true" placeholder="Place Your HTML code to be send to emails"></textarea>
                </div>
                <div class="col-md-6">
                    <iframe id="compiledHTML"></iframe>
                </div>
            </div>
        </div>
        <div class="secret-container container">
            <div class="row">
                <div class="col-md-6">
                    <input placeholder="Enter your complex json here" class="form-control" type="text" id="complexJson">
                    <br/>
                    <input placeholder="Enter secret" class="form-control" type="text" id="secret">
                    <br/>
                    <button class="btn btn-primary" id="request">Send Email</button>
                </div>
                <div class="col-md-6" id="status">
                </div>
            </div>
        </div>
    </body>
    <script src="/htmlCompile.js"></script>
    <script src="/request.js"></script>
</html>